* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  font-family: 'Gelasio';
  font-size: 22px;

  .burger {
    display: none;
  }

  .navbar {
    background-color: white;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: center;
    z-index: 9999;


    .img {
      height: 75%;
      position: absolute;
      left: 10px;
    }

    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      width: 60%;

      li, a {
        text-decoration: none;
        color: black;
        position: relative;
      }

      a:after {
        content: "";
        position: absolute;
        bottom: 50%;
        left: 0;
        background-color: black;
        height: 2px;
        width: 0%;
        transition: .4s;
      }

      a:hover::after {
        width: 100%;
      }
    }
  }
}


.accueil {
  height: 94vh;
  background: linear-gradient(90deg, rgba(255,234,209,1) 0%, rgba(232,183,160,1) 100%);
  position: relative;
  z-index: 20;
  overflow: hidden;

  #particles-js {
    z-index: 20;
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .face {
    position: absolute;
    height: 85%;
    bottom: 0;
    right: 6%;
    z-index: 0;
  }

  .fleur {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    height: 55%;
    left: 10%;
    opacity: .5;
  }

  .context {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    width: 40%;
    left: 20%;
    z-index: 40;

    .title {
      color: #cd5a50;
      font-size: 13vh;
      font-family: 'Playfair Display SC';
    }

    .subtitle {
      font-style: italic;
      font-size: 2.9vh;
      margin-top: -2vh;
      color: rgb(63, 63, 63);
    }

    .text {
      color: rgb(63, 63, 63);
      font-family: 'Montserrat';
      font-style: italic;
      font-size: 2.8vh;
      margin-top: 6vh;
      font-weight: 900;
      width: 80%;
    }

    .btn {
      text-decoration: none;
      margin-top: 10vh;
      background-color: black;
      color: #fff;
      padding: 20px 30px;
      width: 30%;
      font-family: 'Montserrat';
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .flech {
        position: absolute;
        transition: .3s;
        right: 15%;
      }
    }
    .btn:hover .flech {
      right: 10%  !important;
    }
    .btn:hover {
      cursor: pointer;
    }
  }

}

.services {
  height: 90vh;
  background-color: white;
  position: relative;

  .anchor {
    top: -6vh;
    position: absolute;
  }

  .title {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vh;
    padding-bottom: 5vh;
  }

  .photos {
    display: flex;
    justify-content: space-around;
    padding: 0vh 7vw;

    .carre {
      height : 35vh;
      width: 35vh;
      background-color: #f4ded2;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .imgsupport {
        display: flex;
        align-items: center;
        justify-content: center;  
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;

        .prix {
          background-color: #f4ded2;
          height: 100%;
          width: 100%;
          position: absolute;
          bottom: -100%;
          transition: .5s;
          font-family: 'Montserrat';

          ul {
            padding: 0;
            padding: 0 5%;
          }

          li {
            display: flex;
            justify-content: space-between;
            font-size: 80%;
            margin-bottom: 10px;
          }
        }
      }

      .imgsupport:hover .prix {
        bottom: 0;
      }

      img {
        height: 80%;
        width: 80%;
        opacity: .7;
      }

      .txt {
        position: absolute;
        bottom: -2.5vh;
        right: -2vw;
        font-size: 6vh;
        font-family: "Dancing Script";
      }
    }
  }

  .trait {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 60%;
    background-color: black;
    opacity: .4;
  }
}

.apropos {
  height: 80vh;
  display: flex;
  align-items: center;
  margin-top: 17vh;
  position: relative;
  overflow: hidden;
  background: rgb(232,183,160);
  background: linear-gradient(130deg, rgba(232,183,160,1) 0%, rgba(255,234,209,1) 100%);

  .anchor {
    top: -6vh;
    position: absolute;
  }

  .grostitre {
    color: #cd5a50;
    font-size: 16vh;
    font-family: 'Playfair Display SC';
    position: absolute;
    top: -18vh;
    left: -2vw;
    transform-origin: bottom left;
    transform: rotate(90deg);
  }

  .text {
    width: 35%;
    position: relative;
    margin-left: 20%;

    i {
      position: absolute;
      top: -110%;
      left: -15%;
      font-size: 45vh;
      font-family: "Palanquin";
      color: #cd5a50;
      z-index: 1;
      opacity: .4;
    }

    .title {
      font-size: 3.5vh;
      // font-family: 'Gelasio';
      margin-bottom: 5%;
    }

    .content {
      font-size: 2.3vh;
      font-family: "Montserrat";
      font-style: italic;
    }
  }

  .fleur2 {
    position: absolute;
    right:0;
    bottom:5%;
    opacity: .06;
    height: 80%;
  }

}

.contact {
  height: 90vh;
  background-color: white;
  position: relative;

  .anchor {
    top: -6vh;
    position: absolute;
  }

  .fleur3 {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
  }
  .content {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .left {
      width: 65%;
      height: 100%;
      padding: 3% 10%;
      position: relative;

      .title {
        font-size: 3.5vh;
        margin-bottom: 2%;
      }

      .text {
        font-family: "Montserrat";
        font-size: 2vh;
        font-style: italic;
        width: 80%;
        margin-bottom: 5%;
      }

      .formulaire {
        background-color: white;
        padding: 4% 4% 2% 4%;
        box-shadow: 0px 0px 18px -3px rgba(0,0,0,0.2);
        width: 60%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        #contact-form {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: "Montserrat";
          font-size: 2vh;

          .label {
            width: 70%;
            margin-bottom: 1%;
          }

          .input {
            margin-bottom: 4%;
            width: 70%;
            border: none;
            background-color: #eceaea;
            height: 4vh;
            border-radius: 5px;
          }

          .input:focus {
            outline: none !important;
          }

          .msg {
            height: 12vh;
          }

          .btnBox {
            width: 70%;
            display: flex;
            justify-content: space-between;

            .send {
              outline: none !important;
              background-color: #e0c2a5;
              border: none;
              padding: 2% 5%;
              color: #91745a;
              border-radius: 25px;
              transition: .2s;
            }
            .send:active {
              box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                          inset 2px 2px 3px rgba(0, 0, 0, .6);
            }

            .send:hover {
              cursor:pointer;
              background: rgb(232,183,160);
              color: #fff;
            }

            .feedback {
              color: rgb(63, 153, 63);
              visibility: hidden;
            }
          }
        }
      }
    }

    .right {
      width : 35%;
      height: 100%;
      background-color: #ffece1;
      overflow: hidden;
      position: relative;
      display: flex;
      align-items: center;

      .grosrezo {
        color: #cd5a50;
        font-size: 20vh;
        font-family: 'Playfair Display SC';
        position: absolute;
        top: 3vh;
        right: 10.5vw;
        transform-origin: top right;
        transform: rotate(-90deg);
      }

      .social {
        height: 70%;
        width: 50%;
        margin-left: 10%;
        position: relative;

        .line {
          position: absolute;
          width: 1px;
          height: 100%;
          background-color: #91745a;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          opacity: .5;
        }

        .mediaCtn {
          position: absolute;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

          .media {
            color: #91745a; 
            background-color: #ffece1;
            height: 10%;
            width: 80%;
            display: flex;
            align-items: center;
            padding: 0 3%;
            font-family: "Montserrat";
            font-size: 80%;
            transition: .3s;

            i {
              font-size: 200%;
              margin-right: 5%;
            }
          }

          .media:hover {
            cursor: pointer;
            background-color: #e2d2ca;
          }
        }
      }
    }
  }
}

.footer {
  height: 10vh; 
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 2vw;
  position: relative;

  .txt {
    color: white;
    font-family: "Montserrat";
    font-size: 1.5vh;
  }

  .up{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2vw;
    font-size: 4vh;
    color: white;
    text-decoration: none;

    a, i {
      color: white;
      text-decoration: none;
    }
  }
  .up:hover {
    cursor: pointer;
  }
}
