* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
  font-family: 'Gelasio';
  font-size: 22px;
}

body .burger {
  display: none;
}

body .navbar {
  background-color: white;
  height: 8vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
}

body .navbar .img {
  height: 75%;
  position: absolute;
  left: 10px;
}

body .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

body .navbar ul li, body .navbar ul a {
  text-decoration: none;
  color: black;
  position: relative;
}

body .navbar ul a:after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  background-color: black;
  height: 2px;
  width: 0%;
  -webkit-transition: .4s;
  transition: .4s;
}

body .navbar ul a:hover::after {
  width: 100%;
}

.accueil {
  height: 94vh;
  background: -webkit-gradient(linear, left top, right top, from(#ffead1), to(#e8b7a0));
  background: linear-gradient(90deg, #ffead1 0%, #e8b7a0 100%);
  position: relative;
  z-index: 20;
  overflow: hidden;
}

.accueil #particles-js {
  z-index: 20;
  position: absolute;
  height: 100%;
  width: 100%;
}

.accueil .face {
  position: absolute;
  height: 85%;
  bottom: 0;
  right: 6%;
  z-index: 0;
}

.accueil .fleur {
  position: absolute;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 55%;
  left: 10%;
  opacity: .5;
}

.accueil .context {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  width: 40%;
  left: 20%;
  z-index: 40;
}

.accueil .context .title {
  color: #cd5a50;
  font-size: 13vh;
  font-family: 'Playfair Display SC';
}

.accueil .context .subtitle {
  font-style: italic;
  font-size: 2.9vh;
  margin-top: -2vh;
  color: #3f3f3f;
}

.accueil .context .text {
  color: #3f3f3f;
  font-family: 'Montserrat';
  font-style: italic;
  font-size: 2.8vh;
  margin-top: 6vh;
  font-weight: 900;
  width: 80%;
}

.accueil .context .btn {
  text-decoration: none;
  margin-top: 10vh;
  background-color: black;
  color: #fff;
  padding: 20px 30px;
  width: 30%;
  font-family: 'Montserrat';
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accueil .context .btn .flech {
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
  right: 15%;
}

.accueil .context .btn:hover .flech {
  right: 10%  !important;
}

.accueil .context .btn:hover {
  cursor: pointer;
}

.services {
  height: 90vh;
  background-color: white;
  position: relative;
}

.services .anchor {
  top: -6vh;
  position: absolute;
}

.services .title {
  height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3.5vh;
  padding-bottom: 5vh;
}

.services .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0vh 7vw;
}

.services .photos .carre {
  height: 35vh;
  width: 35vh;
  background-color: #f4ded2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .photos .carre .imgsupport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.services .photos .carre .imgsupport .prix {
  background-color: #f4ded2;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -100%;
  -webkit-transition: .5s;
  transition: .5s;
  font-family: 'Montserrat';
  font-size: 20px;
}

.services .photos .carre .imgsupport .prix .prixTitle {
  margin-bottom: 11px;
}

.services .photos .carre .imgsupport .prix .knotless {
  margin-top: 22px;
}

.services .photos .carre .imgsupport .prix ul {
  padding: 0;
  padding: 0 5%;
}

.services .photos .carre .imgsupport .prix li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 80%;
  margin-bottom: 10px;
  margin-left: 20px;
}

.services .photos .carre .imgsupport .prix li .taille {
  font-style: italic;
}

.services .photos .carre .imgsupport .prix li .taillePrix {
  font-weight: 900;
}

.services .photos .carre .imgsupport:hover .prix {
  bottom: 0;
}

.services .photos .carre img {
  height: 80%;
  width: 80%;
  opacity: .7;
}

.services .photos .carre .txt {
  position: absolute;
  bottom: -2.5vh;
  right: -2vw;
  font-size: 6vh;
  font-family: "Dancing Script";
}

.services .trait {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 60%;
  background-color: black;
  opacity: .4;
}

.apropos {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 17vh;
  position: relative;
  overflow: hidden;
  background: #e8b7a0;
  background: linear-gradient(130deg, #e8b7a0 0%, #ffead1 100%);
}

.apropos .anchor {
  top: -6vh;
  position: absolute;
}

.apropos .grostitre {
  color: #cd5a50;
  font-size: 16vh;
  font-family: 'Playfair Display SC';
  position: absolute;
  top: -18vh;
  left: -2vw;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.apropos .text {
  width: 35%;
  position: relative;
  margin-left: 20%;
}

.apropos .text i {
  position: absolute;
  top: -75%;
  left: -15%;
  font-size: 45vh;
  font-family: "Palanquin";
  color: #cd5a50;
  z-index: 1;
  opacity: .4;
}

.apropos .text .title {
  font-size: 3.5vh;
  margin-bottom: 5%;
}

.apropos .text .content {
  font-size: 2.3vh;
  font-family: "Montserrat";
  font-style: italic;
}

.apropos .fleur2 {
  position: absolute;
  right: 0;
  bottom: 5%;
  opacity: .06;
  height: 80%;
}

.contact {
  height: 90vh;
  background-color: white;
  position: relative;
}

.contact .anchor {
  top: -6vh;
  position: absolute;
}

.contact .fleur3 {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
}

.contact .content {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .content .left {
  width: 65%;
  height: 100%;
  padding: 3% 10%;
  position: relative;
}

.contact .content .left .title {
  font-size: 3.5vh;
  margin-bottom: 2%;
}

.contact .content .left .text {
  font-family: "Montserrat";
  font-size: 2vh;
  font-style: italic;
  width: 80%;
  margin-bottom: 5%;
}

.contact .content .left .formulaire {
  background-color: white;
  padding: 4% 4% 2% 4%;
  -webkit-box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.2);
  width: 60%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.contact .content .left .formulaire #contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-size: 2vh;
}

.contact .content .left .formulaire #contact-form .label {
  width: 70%;
  margin-bottom: 1%;
}

.contact .content .left .formulaire #contact-form .input {
  margin-bottom: 4%;
  width: 70%;
  border: none;
  background-color: #eceaea;
  height: 4vh;
  border-radius: 5px;
}

.contact .content .left .formulaire #contact-form .input:focus {
  outline: none !important;
}

.contact .content .left .formulaire #contact-form .msg {
  height: 12vh;
}

.contact .content .left .formulaire #contact-form .btnBox {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .content .left .formulaire #contact-form .btnBox .send {
  outline: none !important;
  background-color: #e0c2a5;
  border: none;
  padding: 2% 5%;
  color: #91745a;
  border-radius: 25px;
  -webkit-transition: .2s;
  transition: .2s;
}

.contact .content .left .formulaire #contact-form .btnBox .send:active {
  -webkit-box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
          box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.contact .content .left .formulaire #contact-form .btnBox .send:hover {
  cursor: pointer;
  background: #e8b7a0;
  color: #fff;
}

.contact .content .left .formulaire #contact-form .btnBox .feedback {
  color: #3f993f;
  visibility: hidden;
}

.contact .content .right {
  width: 35%;
  height: 100%;
  background-color: #ffece1;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .content .right .grosrezo {
  color: #cd5a50;
  font-size: 20vh;
  font-family: 'Playfair Display SC';
  position: absolute;
  top: 3vh;
  right: 10.5vw;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.contact .content .right .social {
  height: 70%;
  width: 50%;
  margin-left: 10%;
  position: relative;
}

.contact .content .right .social .line {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #91745a;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: .5;
}

.contact .content .right .social .mediaCtn {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .content .right .social .mediaCtn .media {
  color: #91745a;
  background-color: #ffece1;
  height: 10%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3%;
  font-family: "Montserrat";
  font-size: 80%;
  -webkit-transition: .3s;
  transition: .3s;
}

.contact .content .right .social .mediaCtn .media i {
  font-size: 200%;
  margin-right: 5%;
}

.contact .content .right .social .mediaCtn .media a {
  text-decoration: none;
  color: #91745a;
}

.contact .content .right .social .mediaCtn .media:hover {
  cursor: pointer;
  background-color: #e2d2ca;
}

.footer {
  height: 10vh;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 2vw;
  position: relative;
}

.footer .txt {
  color: white;
  font-family: "Montserrat";
  font-size: 1.5vh;
}

.footer .up {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 2vw;
  font-size: 4vh;
  color: white;
  text-decoration: none;
}

.footer .up a, .footer .up i {
  color: white;
  text-decoration: none;
}

.footer .up:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */